@import url(rainbow.css);

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-green {
  color: green;
}

.button-trans {
  background-color: aqua;
  color: black;
  transition-duration: 0.3;
  -webkit-transition-duration: 0.3s;
  outline: none;
}

.button-trans:active {
  transform: translateY(80px);
  background-color: black;
}

.button1 {
  border-radius: 8px;
}

.button2 {
  border-radius: 30%;
}

.red {
  background-color: #ff0000;
}

td {
  padding: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.green {
  box-shadow: 4px 5px 13px -1px #000000;
  background: linear-gradient(to bottom, #16de4b 5%, #4c9425 100%);
  background-color: #16de4b;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}
.green:hover {
  background: linear-gradient(to bottom, #4c9425 5%, #16de4b 100%);
  background-color: #4c9425;
}
.green:active {
  position: relative;
  top: 1px;
}

.pressMe {
  display: inline-block;
  padding: 17px 27px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-shadow: 0 10px rgb(52, 52, 52);
}

.pressMe:active {
  background-color: #c8c8c8;
  box-shadow: 0 6px rgb(0, 0, 0);
  transform: translateY(5px);
}

.purple {
  background-color: rgb(184, 68, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-family: Verdana;
  padding: 17px 27px;
  border-radius: 10px;
  box-shadow: 0 -10px rgb(64, 64, 64);
  transition-duration: 0.3;
  -webkit-transition-duration: 0.3s;
  outline: none;
}

.purple:active {
  background-color: rgb(145, 46, 0);
  box-shadow: 0 -4px black;
  transform: translateY(-7px);
  outline: none;
}

.purple:focus {
  outline: none;
}

.title {
  color: red;
  font-family: "Trebuchet MS", sans-serif;
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: 0.5rem;
}

#morecontent {
  background-color: yellow;
}

#hireButtons {
  font-family: TimesNewRoman;
}

#footerTable {
  background-color: cadetblue;
}

* {
  outline: none;
}

#knowledge > * {
  border: 3px red solid;
}

p + * {
  background-color: #ffff00;
}

#smile li::marker {
  content: "😜 ";
}

#rainbow td:hover {
  background-color: black;
}


#btn {
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: white;
  border-radius: 4px;
}

#btn:active {
  width: 400px;
}


#btn2 {
  width: 200px;
  height: 50px;
  background-color: #a90000;
  color: white;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 10px;
}

#btn2:hover {
  width: 175px;
  height: 45px;
}


#para {
  color: black;
  font-family: Verdana;
  font-size: 1.3vw;
  transition: 0.3s ease-in-out;
}

#para:hover {
  color: white;
}