table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #060000;
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 2px solid #070000;
	text-align: center;
	background-color:rgb(161, 133, 232); 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}