.logo-large {
  width: 600px;
  height: 500px;
  margin: 3rem;
  animation: MoveUpDown 8s ease-in-out infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
    left: auto;
  }
  50% {
    bottom: 50px;
    left: auto;
  }
}

.dateBtn {
  font-size: 18px;
  color: #2a2e36;
  background-color: transparent;
  border: 3px solid #2a2e36;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

.dateBtn:hover {
  color: #2a2e36;
  border: 3px solid white;
  scale: 115%;
}

.dateBtn:active {
  border: 3px solid white;
}

.dateTxt {
  color: #2a2e36;
}

.dateTxt:hover {
  color: #2a2e36;
}


.purchaseBtn {
  background-color: transparent;
  border: solid red 2px;
  transition: ease-in-out 0.2s;
}

.purchaseBtn:hover {
  scale: 115%;
  border: solid rgb(195, 0, 0) 2px;
}