@import url(rainbow.css);
.button1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button2 {
	background-color: #ff0000;
	border: none;
	color: white;
	padding: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
td:hover {
	background-color: black;
  }
.button3 {
	border-radius: 30%;
}

.button4{
	background-color: #ed1818;
	border: none;
	color: rgb(0, 0, 0);
	padding: 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button5 {background-color: #000000;
	border: none;
	color: white;
	padding: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer; }


.button5{ background-color: #d4ff00;
	border: none;
	color: rgb(255, 255, 255);
	padding: 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer; }

	.button6{  background-color: #33f208;
	border: none;
	color: rgba(41, 120, 121, 0);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer; }

	.button7{  background-color: #33f208;
		border: none;
		color: rgb(0, 0, 0);
		padding: 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer; }
		div li::marker{
			color: rgb(0, 255, 64);
		  }
		  div > *::marker{
			content:"😜 ";
		  }
		#knowledge > * {
			border: 3px red solid;
		  }
		  p + * {
			background-color: #FFFF00;
		  }
		  selector:pseudo-class {
			property: value;
		  }
td{
	padding:20px;
}
burron 
table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
	.title{
		color: red;
		font-family: 'Trebuchet MS', sans-serif; 
	  }
	  
	  .title-large {
		font-size: 2rem;
	  }
	  
	  .title-small {
		font-size: .5rem;
	  }

	  text-align:right;
	  border: 2px solid black;
  }