@import url(rainbow.css);

#morecontent {
  background-color: yellow;
}

#hireButtons {
  box-shadow: 2px 2px;
  border-radius: 5%;
  background-color: #c9c7c7b0;
}

#footerTable {
  box-shadow: 1px 1px;
  border-radius: 5%;
  background-color: rgba(225, 225, 225, 0.149);
}

#knowledge > * {
  border: 3px red solid;
}

.title {
  color: red;
  font-family: "Trebuchet MS", sans-serif;
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: 0.5rem;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-circle {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.button-oval {
  border-radius: 50%;
  height: 50px;
  width: 100px;
}

.jokeButton {
  background-color: rgb(255, 255, 50);
  border-radius: 47%;
  box-shadow: 2px 2px;
  width: 100px;
  height: 100px;
  text-align: left;
}
.jokeButton:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 0 0;
}

.button1 {
  text-align: center;
}

.button2 {
  text-align: right;
}

.red {
  background-color: #ff0000;
}

td {
  padding: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.color_changing > td:hover {
  background-color: black;
}

p + * {
  background-color: #ffff00;
}

div > li::marker {
  content: "😜";
}

ul > li::marker {
  color: red;
}
