@import url(rainbow.css);
table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }
  *{
    text-align:right;
    border: 2px solid black;
}
#knowledge > * {
	border: 3px red solid;
  }
  p + * {
	background-color: #FFFF00;
  }
  div li::marker{
	color: red;
  }
  div li::marker{
	content:"😜 ";
  }
  td:hover {
	background-color: black;
  }
  #gallery {
	font-family: "Orbitron", sans-serif;
	line-height: 1.5em;
	text-align: center;
  }
  .container-card {
    display: inline-block;
    margin: 3%;
    perspective: 1000px;
}
.flipper {
    position: relative;    
    transition: 0.6s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backface-visibility: hidden;
}
.front{
    z-index:2;
}

.back{
    transform:rotateY(180deg);
}
img {
	width: 100%;
  }
  .container-card, .front, .back {
    width: 250px;
    height: 320px;
}
.container-card:hover .flipper {
	transform: rotateY(180deg);
  }
  a {
	color: black;
  }.caption, .back h1 {
	font-family: "Orbitron", sans-serif;
	font-size: 1.7em;
	padding: 10px 10px 0 10px;
	margin: 0;
	text-align: center;
  }p.caption {
	position: absolute;
	bottom: 1vh;
  }
  
  .description {
	font-size: 0.9em;
	padding: 0 20px 20px 20px;
	text-align: left;
  }