@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.button3 {
  color:blue
}

.button4 {
  background-color: gold;
  color:#4CAF50
}

.button5 {
  color:rgb(249, 155, 47)
}

.title{
  color: red;
  font-family: 'Arial', sans-serif; 
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: .5rem;
}

#hireButtons {
  background-color: yellow;
}

#footerTable {
  background-color: rgb(113, 180, 243);
}

*{
  color: rgb(184, 184, 184);
  font-family: 'Arial', sans-serif;
}

