table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	}
	
	.button1 {
	border-radius: 8px;
	}
	
	.button2 {
	border-radius: 30%;
	}
	
	.red {
	background-color: #ff0000;
	}
	
	td{
	padding:20px;
	}
	
	table{
	margin-left: auto;
	margin-right: auto;
	}
	
	h1, h2, h3, h4, h5, h6{
	text-align:center;
	}
	.myButton { 
		box-shadow: 25px 24px 0px -6px #3e7327;
		background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
		background-color:#77b55a;
		border-radius:42px;
		border:12px solid #4b8f29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:28px;
		font-weight:bold;
		padding:32px 76px;
		text-decoration:none;
		text-shadow:0px 13px 4px #5b8a3c;
	}
	.myButton:hover {
		background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
		background-color:#72b352;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
	

	.Buttone {
		box-shadow: 23px 8px 7px -1px #1564ad;
		background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
		background-color:#79bbff;
		border-radius:12px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:15px 57px;
		text-decoration:none;
		text-shadow:23px 10px 50px #528ecc;
	}
	.buttone:hover {
		background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
		background-color:#378de5;
	}
	.buttone:active {
		position:relative;
		top:1px;
	}
	

.forge {
	box-shadow: 0px 7px 45px 50px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:29px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:0px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.forge:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.forge:active {
	position:relative;
	top:1px;
}
.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }
   < Element class="paragraph"{ 
		font-family: Arial, Helvetica, sans-serif; 	
	display: inline;
	}
        