table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #d711f5;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color:#164676; 
}
body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZkEU7Z7QKWBMa8c-ALQoZWjfKeGXEeNXsSw:https://media.istockphoto.com/id/1284691550/vector/blue-abstract-geometric-dynamic-shape-paper-layers-subtle-background-vector.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3D8a0N0F6hcHc08o2aZgTZdreUMhTxS24Zp61KgdQzGgM%3D&usqp=CAU")
}
